{{> components/navbar}}
<div class="container">
	<div class="row">
		<div class="col l3" id="workspace-list">
			<h5>Workspace list</h5>
			<div class="divider"></div>
			{{#workspace workspaces}}
			{{> components/collections this.names}}
			{{/workspace}}
		</div>

		<div class="col l9">
			{{!-- dashboard feed item --}}
			<h5>Feed Notifikasi</h5>
			<div class="divider"></div>
			<div id="notif-wrapper">
				{{#if feeds}}
				{{#each feeds}}
				<div class="card-panel">
					<div class="row" style="margin-bottom: 5px">
						<div class="col l9 s9 valign-wrapper">
							<p style="margin-top: 0px"><b><a href="/{{this.workspace}}"
										style="text-transform: uppercase;">{{this.workspace}}</a></b>
								{{this.date}}
							</p>
						</div>
						<div class="col l3 s3">
							<img class="circle responsive-img right"
								src="https://ui-avatars.com/api/?name=galant.paradise">
						</div>
					</div>

					{{!-- dashboard feed text --}}
					<div class="row">
						<div class="col">{{this.message}}</div>
					</div>
				</div>
				{{/each}}
				{{else}}
				<div class="row">
					<div class="col s12 center-align">
						<div class="section">
							<h5>tidak ada notifikasi</h5>
						</div>
					</div>
				</div>
				{{/if}}
			</div>

		</div>

		{{!-- <div class="col l4">
			<h4>Activity</h4>
			<div class="section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="divider black"></div>
			<div class="section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div> --}}
	</div>

	<div id="modal-workspace" class="modal">
		<div class="modal-content">
			<h4>Create Workspace</h4>
			<form method="POST" action="/w/doregister">
				<div class="row input-field">
					<input class="validate" type="Text" name="name" required minlength="6" maxlength="16"
						pattern="[A-z0-9-]+">
					<span class="helper-text" data-success="format benar">format hanya berisi huruf (a-z), angka (0-9)
						atau karakter '-'</span>
				</div>
				<div class="row">
					<button class="btn" type="submit" name="action">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

{{!-- <script src="http://localhost:4000/socket.io/socket.io.js"></script> --}}
<script src="/js/home.js"></script>