<div class="section" id="{{document._id}}">
	<h3>{{document.name}}</h3>
	<h4>Version {{document.currentVersion}}</h4>
	<div class="document-viewer" style="margin-top: 20px">
		{{!-- <embed src="/file/download/{{name}}/{{document._id}}" width="100%" height="400px" /> --}}
		{{!-- <iframe
			src="http://docs.google.com/viewer?url=https://b4f72c963515.ngrok.io/persemakmuran/documents/{{document.fsId}}/file&embedded=true"
			width="100%" height="600"></iframe> --}}
		<a class="waves-effect waves-teal btn-flat">View</a>
		<a class="waves-effect waves-teal btn-flat">Change</a>
		<a class="waves-effect waves-teal btn-flat right"><i class="material-icons black-text">share</i></a>
		<a class="waves-effect waves-teal btn-flat right" target="_blank" href="/file/download/{{document.name}}"><i
				class="material-icons black-text">file_download</i></a>
		<a class="waves-effect waves-teal btn-flat right"><i class="material-icons black-text">link</i></a>
	</div>

</div>

<div class="divider"></div>

<div class="section">
	<div class="card">
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width">
				<li class="tab"><a class="active" href="#document-detail">Detail</a></li>
				<li class="tab"><a href="#document-version">Version</a></li>
				<li class="tab"><a href="#document-comment">comment</a></li>
			</ul>
		</div>
		<div class="card-content">
			<div id="document-detail">
				<p>Author : <a target="_blank" href="/p/{{document.author.username}}">{{document.author.username}}</a>
				</p>
				<p>Last Update : DDMMYYYY</p>
			</div>
			<div id="document-version">
				<div id="document-version-form-container" class="hidden" style="display:none;">
					<form id="version-form" enctype="multipart/form-data" method="post" class="col s12"
						action="/{{name}}/doc/{{document._id}}/version">
						<input type="hidden" name="file-name" value="{{document.name}}">
						<input type="hidden" name="document-id" value="{{document._id}}">
						<div class="file-field input-field">
							<div class="btn">
								<span>File</span>
								<input type="file" name="document">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" name="file-version-name">
							</div>
						</div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Add
							<i class="material-icons right">send</i>
						</button>
					</form>
				</div>
				<a class="waves-effect waves-teal btn" onclick="toggleVersionForm()">Add</a>
				<div id="versions-container"></div>
			</div>
			<div id="document-comment">
				<form id="comment-form" action="/{{name}}/doc/{{document._id}}/comment" method="post">
					<div class="input-field">
						<textarea id="comment-input" type="text" class="materialize-textarea"
							name="comment-input"></textarea>
						<label for="comment-input">Comment</label>
					</div>
					<input type="hidden" name="document-id" value="{{document._id}}">
					<button class="btn right" type="submit" name="action">send</button>
				</form>
				<div style="clear: both;" id="comment-list">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.title = "{{document.name}}"
	var instance = M.Tabs.init(document.querySelectorAll('.tabs'));
	$(".indicator").addClass("black");
	$(".tab a").addClass("black-text");

	function sendComment({ url }) {
		let comment = {
			workspace: $('.brand-logo>a').text(),
			comment: $('#comment-input').val(),
			documentId: $('#content > div:nth-child(1)').attr('id'),
		}
		$.post(url, comment, function (data, status) {
			initComment({ documentId: $('#content > div:nth-child(1)').attr('id') });
		});
	}

	function submitNewVersion({ form, url }) {
		$.ajax({
			url,
			type: 'POST',
			data: form,
			cache: false,
			processData: false,
			contentType: false,
			dataType: 'json',
			success: (response) => {
				console.log(response);
			}
		})
	}

	function toggleVersionForm() {
		let formElement = $('#document-version-form-container');
		formElement.toggleClass('hidden');
		if (formElement.hasClass('hidden')) {
			formElement.css("display", "none")
		} else {
			formElement.css("display", "")
		}
	}

	function renderComment(data) {
		$("#comment-list").html("");
		let ul = $('<ul>');
		data.forEach(function (item, index) {
			let elem = `
			<li id="comment-${index}" style="margin:0 0 20px 0">
					<div class="section">
						<img class='circle responsive-img left' src="https://ui-avatars.com/api/?name=${item.sender}" style="margin:0 10px 0 0">
						<b>${item.sender}</b><span class="grey-text"> ${item.datePost}</span>
						<p>${item.comment}</p>
						</div>
						</li>`
			ul.append(elem);
		});
		$("#comment-list").append(ul);
	}

	function initComment({ documentId }) {
		$.get(`/x/document-comments?id=${$('#content > div:nth-child(1)').attr('id')}`, (data) => {
			renderComment(data);
		})
	}

	initComment({ documentId: $('#content > div:nth-child(1)').attr('id') })
	$("#comment-form").submit(event => {
		event.preventDefault()
		let url = event.target.attributes.action.value;
		sendComment({ url })
	});

	$("#version-form").submit(event => {
		event.preventDefault();
		let form = new FormData(event.target);
		let url = event.target.attributes.action.value;
		submitNewVersion({ form, url });
	});
</script>